<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>{% block title %}{% endblock title %}</title>
  <style>
    body {
      background-color: #e6ffee;
    }
    .mar-auto {
      margin: auto;

    }
    .alert-success{
      background-color: #00b300;
    }



      {% block css %}



      {% endblock css %}
  </style>
</head>

<body>
{% load static %}
  <div class="container">
    <!--Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Learn</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="mar-auto">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {% block homeact %}{% endblock homeact %}" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block contactact %}{% endblock contactact %}"
                  href="{% url 'contact' %}">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block aboutact %}{% endblock aboutact %}" href="{% url 'About' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block memberact %}{% endblock memberact %}" href="{% url 'members' %}">Members</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/">Welcome {{user.first_name}}</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>

              {% else %}
              <li class="nav-item">
                <a class="nav-link {% block loginact %}{% endblock loginact %}" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block registeract %}{% endblock registeract %}"
                  href="{% url 'register' %}">Register</a>
              </li>
              {% endif %}
            </ul>
          </div>
          <form class="d-flex ms-auto">
            <input class="form-control me-2 wd-10" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <!--Nav Bar Ends Here-->
    <!--Displaying Messages-->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <!--End of Messages-->
  </div>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script>
      console.log('Hello')
      $('.alert').fadeOut(5000)
    </script>
  {% block body %}{% endblock body %}
</body>

</html>